<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="table">
        <thead>
          <tr>
         
            <th>First</th><br>
            <th>Last</th>
            <th>Full name</th>
          </tr>
        </thead>
        <tbody>
          <tr>
                    <td>
                    {% for student in students %}
                    <p>{{ student['first_name'] }}</p>
                    {% endfor %}
                    </td>

                    <td>
                    {% for student in students %}
                    <p>{{ student['last_name'] }}</p>
                    {% endfor %}
                    </td>
                
                    <td>
                    {% for student in students %}
                    <p>{{ student['first_name'] }} {{ student['last_name'] }}</p>
                     {% endfor %}
                    </td>
         
          </tr>
         
        </tbody>
      </table>
</body>
</html>